@font-face {
    font-family: friends;
    src: url(FRIENDS_.TTF);
}

body {
    background-color: #CCCCFF;
    font-family: friends;
    src: url(FRIENDS_.TTF);
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

h1 {
    text-align: center;
}